.pointer {
  cursor: pointer;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.f-s_16 {
  font-size: 16px!important;
}

.f-s_18 {
  font-size: 18px!important;
}

.f-s_20 {
  font-size: 20px!important;
}

.f-s_24 {
  font-size: 24px!important;
}

.f-s_28 {
  font-size: 28px!important;
}

.f-s_30 {
  font-size: 30px!important;
}

.f-s_32 {
  font-size: 32px!important;
}

.m-t_0 {
  margin-top: 0;
}

.m-b_0 {
  margin-bottom: 0;
}

.m-f_2 {
  margin-left: 12px;
}