/*-------------------------------------------------------------------------*/
[class*=" pkjy-"], [class^=pkjy-]{
  font-family: "i-pkjy" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/*	2. ohter
/*-------------------------------------------------------------------------*/

.container {
  margin: 0 auto;
  width: 900px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  border-radius: 2px;
  background-color: #ebebeb;
}

::-webkit-scrollbar-track {
  background-color: #ebebeb;
}

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #b2b2b2;
}
