/* 自定义的便捷样式 */

* {
  box-sizing: border-box;
}

.inline-block {
  display: inline-block;
}

.block {
  display: block;
}

.none {
  display: none;
}

.font-bold{
  font-weight: bold;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.f-s_12 {
  /* 12号字 */
  font-size: 12px;
}

.f-s_13 {
  /* 13号字 */
  font-size: 13px;
}

.f-s_14 {
  /* 14号字 */
  font-size: 14px;
}

.f-s_15 {
  /* 15号字 */
  font-size: 15px;
}

.f-s_16 {
  /* 14号字 */
  font-size: 16px;
}

.f-s_18 {
  /* 14号字 */
  font-size: 18px;
}

.f-s_20 {
  /* 14号字 */
  font-size: 20px;
}

.f-s_22 {
  font-size: 22px;
}

.f-s_24 {
  font-size: 24px;
}

.f-s_28 {
  font-size: 28px;
}

.f-s_30 {
  font-size: 30px;
}

.f-s_32 {
  font-size: 32px;
}

.f-s_40 {
  font-size: 40px;
}

.f-s_56 {
  font-size: 56px;
}

.pointer {
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

hr {
  opacity: 0.5;
}

img {
  vertical-align: middle;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}


/**********************************
********** 单独设置吗margin *********
***********************************/
.m_0{
  margin:0;
}
.m-r_0 {
  margin-right: 0;
}

.m-r_1 {
  margin-right: 6px;
}

.m-r_2 {
  margin-right: 12px;
}

.m-r_3 {
  margin-right: 16px;
}

.m-r_4 {
  margin-right: 24px;
}

.m-r_5 {
  margin-right: 30px;
}

.m-r_6 {
  margin-right: 34px;
}

.m-l_0 {
  margin-left: 0!important;
}

.m-l_1 {
  margin-left: 6px;
}

.m-l_2 {
  margin-left: 12px;
}

.m-l_3 {
  margin-left: 16px;
}

.m-l_4 {
  margin-left: 24px;
}

.m-l_5 {
  margin-left: 30px;
}

.m-l_6 {
  margin-left: 34px;
}

.m-t_0 {
  margin-top: 0;
}

.m-t_1 {
  margin-top: 6px;
}

.m-t_2 {
  margin-top: 12px;
}

.m-t_3 {
  margin-top: 16px;
}

.m-t_4 {
  margin-top: 24px;
}

.m-t_5 {
  margin-top: 30px;
}

.m-t_6 {
  margin-top: 34px;
}

.m-b_0 {
  margin-bottom: 0;
}

.m-b_1 {
  margin-bottom: 6px;
}

.m-b_2 {
  margin-bottom: 12px;
}

.m-b_3 {
  margin-bottom: 16px;
}

.m-b_4 {
  margin-bottom: 24px;
}

.m-b_5 {
  margin-bottom: 30px;
}

.m-b_6 {
  margin-bottom: 34px;
}


/**********************************
********** 单独设置Padding *********
***********************************/
.p_0{
  padding:0;
}
.p-r_0 {
  padding-right: 0;
}

.p-r_1 {
  padding-right: 6px;
}

.p-r_2 {
  padding-right: 12px;
}

.p-r_3 {
  padding-right: 16px;
}

.p-r_4 {
  padding-right: 24px;
}

.p-r_5 {
  padding-right: 30px;
}

.p-r_6 {
  padding-right: 34px;
}

.p-l_0 {
  padding-left: 0;
}

.p-l_1 {
  padding-left: 6px;
}

.p-l_2 {
  padding-left: 12px;
}

.p-l_3 {
  padding-left: 16px;
}

.p-l_4 {
  padding-left: 24px;
}

.p-l_5 {
  padding-left: 30px;
}

.p-l_6 {
  padding-left: 34px;
}

.p-t_0 {
  padding-top: 0;
}

.p-t_1 {
  padding-top: 6px;
}

.p-t_2 {
  padding-top: 12px;
}

.p-t_3 {
  padding-top: 16px;
}

.p-t_4 {
  padding-top: 24px;
}

.p-t_5 {
  padding-top: 30px;
}

.p-t_6 {
  padding-top: 34px;
}

.p-b_0 {
  padding-bottom: 0;
}

.p-b_1 {
  padding-bottom: 6px;
}

.p-b_2 {
  padding-bottom: 12px;
}

.p-b_3 {
  padding-bottom: 16px;
}

.p-b_4 {
  padding-bottom: 24px;
}

.p-b_5 {
  padding-bottom: 30px;
}

.p-b_6 {
  padding-bottom: 34px;
}

.underline{
  text-decoration: underline;
}
