::selection {
    color: #FFFFFF;
    background-color: #42b983;
}


/*-------------------------------------------------------------------------*/


/*	1.	Browser Reset + Font Face
/*-------------------------------------------------------------------------*/

html,
body,
div,
span,
applet,
object,
iframe,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend {
    vertical-align: baseline;
    font-family: inherit;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0
}

:focus {
    outline: 0
}

html {
    overflow-x: hidden;
    overflow-y: scroll;
    max-width: 100%
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    color: #34495e;
    font-size: 15px;
    line-height: 1.6;
    background-color: #fff;
    font-family: 'sourcesanspro', 'Helvetica Neue', Arial, sans-serif;
}

ol,
ul {
    list-style: none
}

input[type=text]::-ms-clear {
    display: none
}

sup {
    font-size: 10px;
    vertical-align: super
}

sub {
    font-size: 10px;
    vertical-align: sub
}

p:empty {
    display: none
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block
}

ul {
    margin: 1rem 0;
}

a {
    color: #27CFC3;
    text-decoration: none;
    transition: color 0.2s;
    -moz-transition: color 0.2s;
    -webkit-transition: color 0.2s
}

a:hover {
    color: inherit
}

h1 {
    font-size: 32px;
    line-height: 62px;
    margin-bottom: 7px
}

h2 {
    font-size: 26px;
    line-height: 44px;
    margin-bottom: 7px
}

h3 {
    font-size: 22px;
    line-height: 34px;
    margin-bottom: 7px
}

h4 {
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 7px
}

h5 {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 7px
}

h6 {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 7px
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-weight: normal;
}

hr {
    border: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

code {
    margin: 0 2px;
    padding: 3px 5px;
    color: #e96900;
    border-radius: 2px;
    white-space: inherit;
}

iframe,
video {
    max-width: 100%;
    margin: 1rem auto;
    display: block;
}

